//Header settings

header {
    padding: .5rem;
    color: black;
    display: flex;

}

div#headWrapper {
    background-color: rgb(246, 248, 249);
}

#headWrapper input {
    max-width: 30vw;
}

header h1 {
    font-size: 1.5rem;
    font-family: $fontFamily2;
    margin: .2rem 0 0 0;
}

header h2 {
    margin: 0;
    font-size: .8rem;
    font-family: $fontFamily;
    padding: 0;
}


//Navigation settings

nav {
    font-family: $fontFamily2;
    color: black;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#feffff+0,ddf1f9+35,a0d8ef+100;Blue+3D+%2318 */
    background: rgb(254, 255, 255);
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(254, 255, 255, 1) 0%, rgba(221, 241, 249, 1) 35%, rgba(160, 216, 239, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(254, 255, 255, 1) 0%, rgba(221, 241, 249, 1) 35%, rgba(160, 216, 239, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(254, 255, 255, 1) 0%, rgba(221, 241, 249, 1) 35%, rgba(160, 216, 239, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#feffff', endColorstr='#a0d8ef', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    overflow: hidden;
    position: relative;
}

nav ul {
    margin: 0;
    padding: 0;
    display: none;
}

#icon {
    display: block;
    margin-left: 5%;

}

#mobileTop {
    display: flex;
    justify-content: space-between;
    padding: .5rem;
    position: relative;
}

input {
    border-width: 0px;
    padding: 0 0 0 .3rem;
    max-width: 48%;
    font-size: 1rem;
    line-height: .9;
    border-radius: 2px;
}

nav li {
    list-style-type: none;
    text-decoration: none;
    font-size: 1.3rem;
    text-align: center;
    padding: 0;
    
}

nav a {
    display: block;
    padding: .9rem 0;
    text-decoration: none;
    color: black;
}

#icon a:hover {
    color: black;
}

nav li:hover {
    transition: ease-in .3s;
    background-color: rgb(70, 112, 226);

}

.active {
    background-color: darken($navColor, 10%)
}

//Main settings
body {
    margin: 0;
    
}

//Grid settings

#topStory{
    grid-area: topStory;
}

.stories{
    grid-area: story;
}

main {
    background-color: white;
    color: black;
    margin: 1.5rem 0 0 2%;
    display: grid;
    grid-gap: .2rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "topStory topStory"
            "story story";
}

main h1,
h2,
p {
    margin: 0;
    font-family: $fontFamily;
}

figure{
    margin: 0;
    width: 100%;
}


figure img {
    width: 96%;
}

#topStory img{
    width: 98%;
}


figcaption {
    text-align: center;
    padding: .3rem;
}




//Footer settings

div#footerWrapper {
    background-color: black;
}

div.social {
    display: flex;
    justify-content: space-around;

}

div.social a {
    text-decoration: none;
    color: white;
    font-size: 3rem;
    text-align: center;
}

button {
    cursor: pointer;
}

button:hover{
    background-color: lighten($color: #000000, $amount: 10%)
}

div.social a:hover {
    transition: ease-out .5s;
    color: rgb(70, 112, 226)
}

footer {
    padding: 2rem 2% .5rem 10%;
    color: aliceblue;
    background-color: gray;
    margin-top: 3rem;
}

footer li, a {
    list-style-type: none;
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px black;
    
}

footer ul{
    margin: .0 0 1rem 0;
    padding: 0;

}

footer p{
    text-align: center;
    font-size: .6rem;
}