main,
header,
#mainNav,
footer,
#blackBar,
#hero,
#partners {
    max-width: 60rem;
    margin: 0 auto;
    padding-right: 0;
    padding-left: 0;

}

#aboutGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#graphs{
    gap: 0 1rem;
    // grid-template-columns: 
    // 1fr 1fr 1fr;
    // grid-template-rows: 
    // 1fr 1fr;
    grid-template-areas:
        "graphgrid1 graphgrid2 graphgrid4"
        "graphgrid3 graphgrid3 graphgrid4"
        "graphgrid3 graphgrid3 graphgrid4"
        "graphgrid3 graphgrid3 graphgrid4";
        grid-auto-columns: minmax(300px, 33%);
}


#graphGrid4 button{
    font-size: 1.2rem;
    border-radius: 30px;
    padding: .2rem 13%;
  }

#blackBar{
    margin-top: .7rem;
}