
nav{
  align-self: right;
  
  
}

nav ul{
  display: flex;
  justify-content: right;
  float: right;
  margin: 0 0 .2rem 0;

  
  

}

nav li{
  padding-left: 1rem;
  font-size: 14pt;
  

}

nav a {
  font-size: $navSize
}


#barWrapper{
  background-color: black;
}