body, main, nav, header, footer{
    max-width: 64rem;
    margin: 0 auto;
    
}

header {
    background-size: cover;

}

header h1 {
    font-size: 3.5rem;
}

header h2 {
    font-size: 1.8rem;
    margin: 0 0 .5rem 1rem;
}

nav ul {
    margin: 0 0 0 1rem;
    padding: 0;
    display: flex;
}

nav li {
    font-size: 1.6rem;
    padding: 0;
}

nav a {
    display: block;
    padding: .6rem;
}

