nav {
  overflow: unset;
}


header h1 {
  font-size: 1.9rem;
  margin: .5rem 0 0 4%;
}

nav li {
  font-size: 1.3rem;
  padding: .5rem;
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}

nav a {
  padding: 0;
  font-size: 1.2rem;
  display: block;
}

#orderSublink{
  overflow: hidden;
  text-align: left;
  display: block;
  

}

#fakeIt{
  margin-left: 13.6rem;
  position: absolute;
  opacity: 1;
  padding: 0 0 0 .4rem !important;
  
  
}

@keyframes fadeIn {
  	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

#fakeIt ul{
  padding: 0;
  margin: 0;
  
}

#fakeIt a {
  display: block;
}



#myLinks li.active > a::after {
  margin-top:.3rem;
  

}

#orderSublink li {
  margin-left: 0;
  padding: .3rem .3rem .3rem .5rem !important;
  list-style-type: none;
  text-decoration: none;
  color: white;
  background-color: #5f6e94;
  
  
}

#orderSublink a {
  list-style-type: none;
  text-decoration: none;
  color: white;
  
  
  
}

#fakeIt li:hover, #fakeIt a:hover{
  background-color: #7c8ebd;
}



#myLinks li.active > a::after {
  content: "\25BC";
  font-size: .75rem;
  margin-left: .3rem;
  }



#mobileTop {
  display: none;
}


header h1 {
  font-size: 3.5rem;

}

header h2 {
  font-size: 1.8rem;
  margin: 0 0 .5rem .5rem;
}

button {
  margin-left: 3%;
  padding: .3rem .5rem;
  width: 96%;
  max-width: 12rem;
}