//Header settings

header {
    padding: 1rem 0 .5rem .5rem;
    color: black;
    background-color: rgb(250, 255, 250);


}

header a {
    display: flex;
    justify-content: flex-start;
    text-decoration: none;
    color: black;
}



header h1 {
    font-size: 1.9rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin:  1.5rem 0 0 4%;
}

header img {
    border: 2px black solid;
    border-radius: 5%;
}

//Navigation settings

nav {
    font-family: $fontFamily;
    font-weight: 100;
    overflow: hidden;
    position: relative;
    background-color: #002070bb;

}

nav ul {
    margin: 0;
    padding: 0;
    display: none;
}

.navMobile {
    margin: 0;
    padding: 0;
    display: none; 
}

#icon {
    display: block;
    margin-left: 5%;

}

#mobileTop {
    display: flex;
    justify-content: space-between;
    padding: .2rem;
    position: relative;
}

nav li {
    list-style-type: none;
    text-decoration: none;
    font-size: 1.3rem;
    text-align: center;
    padding: 0;

}

nav a {
    display: block;
    padding: .4rem 0;
    text-decoration: none;
    color: white;
}

#icon a:hover {
    color: black;
}

.active {
    background-color: lighten($navColor, 60%)
}

//Main settings
body {
    margin: 0;
}

main {
    margin: 1.5rem 0 0 2%;

}

main h1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: .5rem;
}

main,
h2,
p {
    margin: 0;
    font-family: $fontFamily;
}

//Form settings

fieldset {
    border-radius: .5rem;
    margin-bottom: 1rem;
}

label {
    display: flex;
    flex-direction: column;
    font-size: .6rem;
}

input, select {
    font-size: .8rem;
    padding: .3rem 0;
    margin-bottom: 1rem;
    border-radius: .3rem;
    max-width: 20rem;
    background-color: #EEE;
}

input:required, select:required{
    border-left: 2px red solid;
}

input:required:valid, select:required:valid{
    border-left: 2px green solid;
}

#material{
    margin-bottom: .5rem;
}

input[type="radio"]{
    margin: 0 10px 1rem 0px;
    
  }

select{
    width: 100%;
    padding: .3rem .5rem;
}

option:hover{
    transition: .5s;
    background-color: darken(white, 30%);
}

#blueSelect{
    color: blue;
}

#redSelect{
    color: red;
}

#greenSelect{
    color: green;
}

#cyanSelect{
    color: cyan;
}

#yellowSelect{
    color: yellow;
    background-color: black;
}

.aRadio{
    flex-direction: row;
    font-size: .8rem;
}

.aRadio input text{
   margin-left: 1rem;
}

button{ 
    border-radius: .2rem;
    color: white;
    background-color: #002070bb;
    margin-left: 2%;
    border: none;
    padding: .3rem .5rem;
    width: 96%;
    max-width: 20rem;
}


//Footer settings

div#footerWrapper {
    background-color: black;
}

div.social {
    display: flex;
    justify-content: space-around;

}

div.social a {
    text-decoration: none;
    color: white;
    font-size: 3rem;
    text-align: center;
}

button {
    cursor: pointer;
}

button:hover {
    background-color: lighten($color: #000000, $amount: 10%)
}

footer {
    padding: .5rem 0;
    color: black;
    margin-top: 3rem;
    text-align: center;
    background-color: rgb(250, 255, 250);

}

footer p {
    text-align: center;
    font-size: .6rem;
}