
#display {
  grid-template-columns: 1fr 1fr;
}

header h2 {
  
  margin: 0;
}

nav li {
  font-size: 1.3rem;
}

nav a {
  font-size: .8rem;
}

.icons{
  font-size: 1.4rem;
  display: block;
  margin: 0 auto;
  
}


div.hotel p { 
  max-width: 100%;
  font-size: .75rem;
}



