body, main, nav, header,{
    max-width: 64rem;
    margin: 0 auto;
    
}

#grider{
    grid-template-areas:
    "theHeader" 
    "theNav" 
    "theMain"
    "theFooter";
    
  }

main{
    max-width: 61rem;
}

#mainNav{
    margin: 0;
}

.oneTablet{
    grid-template-areas:
    "title title theImage" 
    "theImage title title " 
    "para para theImage";
  }

header {
    background-size: cover;

}

header h1 {
    font-size: 3.5rem;
    margin-left: 3%;
}

header h2 {
    font-size: 1.8rem;
    margin: 0 0 .5rem 1rem;
}

main h1{
    font-size: 2.5rem;
}

main h2{
    font-size: 1.8rem;
    margin-bottom: 0;
}

nav ul {
    margin: 0 0 0 1rem;
    padding: 0;
    display: flex;
}

nav li {
    font-size: 1.6rem;
    padding: 0;
}

nav a {
    display: block;
    padding: .6rem;
}

.twoTablet{
    margin-bottom: 2rem;
}

.oneTablet h2, .twoTablet h2{
    margin: 0;
  }
  
  .oneTablet p, .twoTablet p {
    margin-top: .3rem;
    font-size: 1.2rem;
  }
