//Header settings

header {
    padding: 0;
    color: black;
    background-color: white;
}

header a {
    display: flex;
    justify-content: flex-start;
    text-decoration: none;
    color: black;
}

header h1 {
    font-size: 1.9rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 1.5rem 0 0 4%;
}

header img {
    max-width: 96%;

}

//Navigation settings

nav {
    font-family: $fontFamily;
    font-weight: 100;
    // overflow: hidden;
    // position: relative;
    background-color: #406BA4;

}

nav ul {
    margin: 0;
    padding: 0;
}

.navMobile {
    margin: 0;
    padding: 0;

}

#icon {
    display: block;
    margin-left: 5%;
}

#xBack {

    display: inline-block;
    margin-left: 6.1%;
}

#mobileTop {
    display: flex;
    justify-content: space-between;
    padding: .2rem;

}

nav li {
    list-style-type: none;
    text-decoration: none;
    font-size: 1.3rem;
    text-align: left;
    padding: 0;

}

nav a {
    display: block;
    padding: .4rem .8rem;
    text-decoration: none;
    color: white;
}

#myLinks a:hover {
    background-color: #77BD37;
}

#myLinks li:hover {
    display: block;
}

#icon a:hover {
    color: black;
}

.active {
    background-color: #5f6e94;
}

//Main settings
body {
    margin: 0;
}

main {
    padding: 0 2% 0 2%;

}

main h1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 0;
    font-size: 1.2rem;
}

main,
h2,
p {
    font-family: $fontFamily;
}

main h2 {
    font-size: 1rem;
    margin: 0 0 .5rem 0;
}

main p {
    margin-bottom: 2rem;
}


main img {
    max-width: 98%;
}

//Grid settings

#mobileTop {
    grid-area: hamburger;
}

#headWrapper {
    grid-area: theHeader;
}

#mainNav {
    grid-area: theNav;
    height: 100vh;
}

main {
    grid-area: theMain
}

footer {
    grid-area: theFooter
}


#grider {
    display: grid;
    grid-template-areas:
        "hamburger"
        "theHeader"
        "theMain"
        "theFooter"
        "theNav";
}


//Footer settings

div#footerWrapper {
    background-color: black;
}

footer {
    padding: .5rem 0;
    color: black;
    // margin-top: 3rem;
    text-align: center;
    background-color: #553483;
    color: white;


}

footer p {
    text-align: center;
    font-size: .6rem;
}