//Header settings

header {
    padding: 1rem 0 .5rem 0;
    color: black;
    background-image: url("/Unit09/assets/headerMobile.jpg");

}

header h1 {
    font-size: 2.5rem;
    font-family: $fontFamily2;
    margin: .2rem 0 0 2%;
}

header h2 {
    margin: 0 0 0 2%;
    font-size: 1.3rem;
    font-family: $fontFamily;
    padding: 0;
}


//Navigation settings

nav {
    font-family: $fontFamily;
    font-weight: 100;
    color: black;
    overflow: hidden;
    position: relative;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f3e2c7+0,c19e67+50,b68d4c+51,e9d4b3+100;L+Brown+3D */
    background: rgb(243, 226, 199);
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(243, 226, 199, 1) 0%, rgba(193, 158, 103, 1) 50%, rgba(182, 141, 76, 1) 51%, rgba(233, 212, 179, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(243, 226, 199, 1) 0%, rgba(193, 158, 103, 1) 50%, rgba(182, 141, 76, 1) 51%, rgba(233, 212, 179, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(243, 226, 199, 1) 0%, rgba(193, 158, 103, 1) 50%, rgba(182, 141, 76, 1) 51%, rgba(233, 212, 179, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3e2c7', endColorstr='#e9d4b3', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */

}

nav ul {
    margin: 0;
    padding: 0;
    display: none;
}

.navMobile {
    margin: 0;
    padding: 0;
    display: none; 
}

#icon {
    display: block;
    margin-left: 5%;

}

#mobileTop {
    display: flex;
    justify-content: space-between;
    padding: .5rem;
    position: relative;
}

input {
    border-width: 0px;
    padding: 0 0 0 .3rem;
    max-width: 48%;
    font-size: 1rem;
    line-height: .9;
    border-radius: 2px;
}

nav li {
    list-style-type: none;
    text-decoration: none;
    font-size: 1.3rem;
    text-align: center;
    padding: 0;

}

nav a {
    display: block;
    padding: .9rem 0;
    text-decoration: none;
    color: black;
}

#icon a:hover {
    color: black;
}

nav li:hover {
    transition: ease-in .3s;
    background-color: rgb(70, 112, 226);

}

.active {
    background-color: lighten($navColor, 60%)
}

//Main settings
body {
    margin: 0;
}

main {
    background-color: white;
    color: black;
    margin: 1.5rem 0 0 2%;

}

main h1 {
    font-family: $fontFamily2;
    margin-left: .5rem;
}

main,
h2,
p {
    margin: 0;
    font-family: $fontFamily;
}

//Slider settings

.slider img {
    width: 100%;
}

.slider p {
    padding: 0 .5rem;
    background-color: rgba(0, 0, 0, 0.603);
    color: white;
    
}

picture {
    position: relative;
}

picture div {
    position: absolute;
    bottom: 0;
    width: 100%;
}


//Plan a visit settings



#planVisit h3 {
    margin-top: 0;
    text-align: center;
    justify-content: center;
}

#planVisit p {
    margin-top: 2rem;
    margin-bottom: .5rem;
    font-size: 3rem;
    text-align: center;
    justify-content: center;
}

.tile {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;

}

#planVisit div a {
    display: block;
    text-decoration: none;
    width: 100%;
    height: 400px;
    padding: 0;
    color: white;
    transition: all .5s ease-in;
    margin-bottom: 20px;
    text-align: center;
    background-size: cover;
    
}

.tile{
    background-size: cover;
  }

#planVisit div:nth-child(1) {
    background-image: url("/Unit09/assets/visit1reg.jpg");
    margin-bottom: 1rem;
    
}

#planVisit div:nth-child(1) a {
    background-color: blue;
}

#planVisit div:nth-child(2) {
    background-image: url("/Unit09/assets/visit2reg.jpg");
    margin-bottom: 1rem;
}

#planVisit div:nth-child(2) a {
    background-color: brown;
}

#planVisit div:nth-child(3) {
    background-image: url("/Unit09/assets/visit3reg.jpg");
    margin-bottom: 1rem;
}

#planVisit div:nth-child(3) a {
    background-color: black;
}

#planVisit div:nth-child(4) {
    background-image: url("/Unit09/assets/visit4reg.jpg");
}

#planVisit div:nth-child(4) a {
    background-color: red;
}

#planVisit div a:hover {
    background: none;
    text-shadow: 0 0 4px black;
}




//Footer settings

div#footerWrapper {
    background-color: black;
}

div.social {
    display: flex;
    justify-content: space-around;

}

div.social a {
    text-decoration: none;
    color: white;
    font-size: 3rem;
    text-align: center;
}

button {
    cursor: pointer;
}

button:hover {
    background-color: lighten($color: #000000, $amount: 10%)
}

footer {
    padding: .5rem 0;
    color: black;
    margin-top: 3rem;
    text-align: center;

    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f3e2c7+0,c19e67+50,b68d4c+51,e9d4b3+100;L+Brown+3D */
    background: rgb(243, 226, 199);
    /* Old browsers */
    background: -moz-linear-gradient(45deg, rgba(243, 226, 199, 1) 0%, rgba(193, 158, 103, 1) 50%, rgba(182, 141, 76, 1) 51%, rgba(233, 212, 179, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, rgba(243, 226, 199, 1) 0%, rgba(193, 158, 103, 1) 50%, rgba(182, 141, 76, 1) 51%, rgba(233, 212, 179, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, rgba(243, 226, 199, 1) 0%, rgba(193, 158, 103, 1) 50%, rgba(182, 141, 76, 1) 51%, rgba(233, 212, 179, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3e2c7', endColorstr='#e9d4b3', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */

}

footer p {
    text-align: center;
    font-size: .6rem;
}