//Header settings

figure {
    margin: 0,
}

figure img {
    border: 3px solid black;
}

header {
    padding: .3rem 0 .1rem .3rem;
    display: grid;
    background-color: $primaryBackground;
    grid-template-columns: 70px auto;
}

header img {
    width: 100%;
    border: 2px black solid;
}

header h1 {
    font-size: 2.2rem;
    font-family: $fontFamily2;
    margin: 0 0 0 .3rem;
}

header h2 {
    margin: 0 0 0 .4rem;
    font-size: 1rem;
    font-family: $fontFamily
}

//Navigation settings

nav {
    background-color: $navColor;
    font-family: $fontFamily;

}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    margin-left: $gutter
}

nav li {
    list-style-type: none;
    text-decoration: none;
    min-width: 25%;
    font-size: .8rem;


}

nav a {
    display: block;
    padding: .5rem 0;
    color: black;
    text-align: center;
    text-decoration: none;
    justify-content: space-around;
}

nav li:hover {
    background-color: lighten($navColor, 30%)
}

.active {
    background-color: darken($navColor, 8%)
}

main h1 {
    margin: 1rem 0 0 2%;
}

//Gallery settings
.gallery {
    display: flex;
    flex-wrap: wrap;
}

div.gallery figure {
    flex-basis: 42%;
    text-align: center;
    margin: .2rem auto 1rem 2%;
}

div.gallery figure img {
    width: 100%;
}

div.gallery figure figcaption {
    font-family: $fontFamily;
    font-weight: bold;
}

//footer settings

footer {
    background-color: $primaryBackground;
    text-align: center;
    padding: .5rem 2%;
}