main,
header,
footer {
    max-width: 75rem;
    margin: 0 auto;

}

nav {
    overflow: unset;
}

#mobileTop {
    display: none;
}

#myLinks a {
    font-size: 80%;
}

.icon {
    padding: .1rem 0 0 .2rem;
    margin: 0 0 -.17rem 0;
}

#logoDiv {
    width: 20%;
    padding: 0;
    margin: 0;
}

header {
    justify-content: space-between;
}

#logoDiv {
    width: auto;
}

#myLinks {
    display: block;
    margin: 0;
}

#mainNav {
    width: 80%;
}

#mainNav ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

#mainNav li {
    margin: 0;
    padding: 0;
    border: none;
}

#mainNav a {
    display: block;
    width: 100%;
}


#sectionLi {
    position: relative;

}

ul#orderSublink {
    padding: 0 0 0 0rem;
    margin: -1rem 0 0 1.9rem;
    border: 1px dotted white;
    border-radius: 3px;
}

ul#orderSublink li {
    padding: 0;
}


ul#orderSublink a {
    font-size: .8rem;
    display: block;
    width: 100%;
    padding: .3rem .2rem;

}

ul#orderSublink li:hover {
    background-color: rgb(19, 84, 134);

}

ul li ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
    flex-direction: column;

}

ul li:hover>ul,
ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
    background-color: #0D3A5D;
    display: inline-block;
    z-index: 100;

}

ul li ul li {
    clear: both;
    width: 100%;

}

li#searchLi {
    width: 20%;
    padding-top: 1rem;

}

.searchTermM {
    font-size: .8rem;
}

.searchButtonM {
    font-size: .6rem;
}



footer {
    text-align: center;
}

.inner,
.outer {
    width: 20rem;
    height: 15rem;
    margin: 0 auto;

}

#cardADiv,
#cardBDiv {
    width: 20rem;
    height: 15rem;

}

#landingMain {
    margin: 2rem 2% 2rem 2%;
}

.outer button {
    padding: .2rem 1rem;
}

.inner h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.inner p {
    font-size: 1rem;
}

//grid settings for entry

#display {
    gap: 1rem;
    grid-template-areas:
        "detail description description"
        "wallpaper wallpaper wallpaper";

}