
main,
footer {
    padding-right: 2%;
    padding-left: 2%;
}

#logoDiv{
  width: 80%;
  padding-top: .3rem;
}

#mobileTop a{
  font-size: 3rem;
}

#icon{
  padding: 1rem 1rem .3rem .5rem!important;
  
}



#searchLi{
  width: 50%;
  padding-top: .5rem;
  margin: 0 auto;
  border: none !important;
}

#myLinks a {
  font-size: 1.5rem;
}


.removeOverflow {
  overflow: unset;
}

.addOverflow {
  overflow: hidden;
}

picture div{
  padding: 1rem;
}

#landingMain{
  display: flex;
  
}

#cardADiv, #cardBDiv {
  margin-bottom: 1rem;
  margin-top: 0;
}

