

//Main & header settings
body {
    margin: 0;
    font-family: $fontFamily;
}

main,
footer{
    padding-right: 2%;
    padding-left: 2%;

}

div#headerWrapper{
    background-color: #002F54;
    width: 100%;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 0;
    
}

#logoDiv{
    width: 90%;
    padding-top: .3rem;
    margin: 0;
}

#logoDiv img{
    width: 100%;
}

#icon{
    padding: .6rem .6rem .4rem .5rem!important;
}

.searchTermM{ 
    font-size: 1rem;
    border-radius: .2rem;
    border: none;
    width: 100%;
}

.searchButtonM{
   font-size: .8rem;
   padding: 0;
   width: 1rem;
   border-radius: .2rem;
   border: none;
   background-color: white;
   margin-left: -1.5rem;
   margin-bottom: -.2rem;
  
}

#mobileTop {
    color: white;
    text-emphasis: none;
    text-decoration: none;
    font-size: 1.5rem;
    padding: .05rem .5rem 0 0;
}

#myLinks{
    display:none;

}

nav{
  overflow: hidden;
  position: relative;
}

// .icon{
//   padding: 1rem .2rem 0 .2rem;
// }

#mobileNavbar {
    background-color: rgba(13, 58, 93, 0.897);
    position: absolute;
    width: 100%;
    transition: all ease-in 1s;
    z-index: 100;
   
    
}

#closed{
    display:none;
    transform: translateY(-100%);
    transition: transform 1s ease-in-out, visibility 0s 0.4s;
    transition: all 1s ease-in-out;
    
}

#open{
    display: block;
    transform: translateY(0%);
    transition: all 1s ease-in-out;
    z-index: 100;
    height: 100vh;
}

#mainNav ul, #mobileNavbar ul{
    padding-left: 0;
    margin: 0 0 1rem 0;
    padding: 0 2rem;
}

#mainNav li, #mobileNavbar li{
    list-style-type: none;
    text-emphasis: none;
    text-decoration: none;
    text-align: left;
    margin-top: -1px;
    border: rgba(158, 158, 158, 0.479) dotted 1px;

}

#mainNav a, #mobileNavbar a{
    text-emphasis: none;
    text-decoration: none;
    color: white;
    display: block;
    padding: 1.2rem .6rem;
    padding-left: .8rem;
    font-size: 1.3rem;
    
}

ul#orderSublink li {
    border: none;
}


//Slider settings


.slider img {
    width: 100%;
}

.slider a {
color: black;
text-decoration: none;
    
}

.slider h2{
    font-size: 1.2rem;
}

picture h2, h5, p{
    margin: 0 0 0 0;
    padding: .2rem;
    
}

picture p {
    margin-top: 1rem;
}

// Info cards

main{
    border-top: 1px block solid;
}

.inner, .outer {
    width: 16rem;
    height: 12rem;
    margin: 0 auto;
    
}

.inner{
 transition: ease-in .2s;
 background-color: #002F54;
 opacity: 1;
 position: absolute;
 margin: 0 0 0 0;
 z-index: 49;
 border-bottom: 4px dashed white;
 border-right: 1px dashed white;
 border-top: 1px dashed white;
 border-left: 1px dashed white;
 
}

.inner h3{
    padding: 3rem 3rem 0 1rem;
}

.outer{
position: relative;
color: white;
text-align: center;

}

.outer h3{
    padding: .2rem 1rem; 
    
}

.inner p{
    color: #002F54;
    font-size: .6rem;
    text-align: left;
    margin: 0 .5rem 0 .5rem;
    
}

.inner:hover {
    background-color: rgba(0, 0, 0, 0.589);
    transition: linear .5s;
    color:white;
}

#hoverP {
    color:white ;
    transition: linear .5s;
    
}

#hoverP p{
    color: white;
    background-color: rgba(0, 0, 0, 0.781);
}

.outer button{
    opacity: 0;
    background-color: #002F54;
    color: white;
    border: white dotted 1px;
    border-radius: .5rem;
    padding: .3rem 3rem;
    font-size: 1rem;
    position: absolute;
    bottom: 1rem;
    left: 1.7rem;
    cursor: pointer;
}

.outer img {
    width: 100%;
}

#cardADiv{
    background: url(/Capstone/assets/dbz3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 16rem;
    height: 12rem;
    
    
}

#cardBDiv{
    background: url(/Capstone/assets/screenshot2.gif);
    background-size: cover;
    background-repeat: no-repeat;
    width: 16rem;
    height: 12rem;
    margin-top: 1rem;
    
}

//footer items

div#footerWrapper{
background-color: #002F54;
color: white;
text-align: center;
margin-top: 2rem;
}

footer div{
    display:flex;
    justify-content: space-around;
}

footer div p{
    font-size: 2rem;
}

footer{
    padding: .6rem .5rem;
}

footer p{
    padding: 0;
    margin: 0;
    font-size: .6rem;
}