nav,
main,
header,
footer {
    max-width: 75rem;
    margin: 0 auto;
}

header {
    background-size: cover;
    display: flex;
    justify-content: space-between;
}

#footerWrapper {
    max-width: 75rem;
    margin: 0 auto;
}

body {
    padding-top: .5rem;
}

header h1 {
    font-size: 2.2rem;
    margin: 5rem 0 0 1rem;
}

header h2 {
    font-size: 1.2rem;
    margin: 0 0 .5rem 1rem;
}

#bigSearch {
    display: block;
    margin-top: 7rem;
}

.lawyer h3 {
    font-size: 1.3rem;
}

.lawyerButton {
    font-size: .75rem;
    padding: .7rem .1rem;
}

.buttons {
    margin: .4rem 0;
}

.column {
    padding: 0;
    margin: .4rem .35vw;
}

nav ul {
    margin: 0 0 0 1.2%;
    padding: 0;
    display: flex;
}

nav li {
    font-size: 1.6rem;
    padding: 0;
  }

  nav a{
      display:block;
      padding: .6rem;
  }

input{
    padding: 0 0 0 .3rem;
    max-width: 2%;
    font-size: 1.5rem;
    line-height: 1.15;
    border-radius: 2px;
  }
  

@for $i from 1 through 12 {
    $w: ($i / 12) * 95.5%;

    .large-#{$i} {
        flex-basis: $w;
    }
}

@for $i from 1 through 12 {
    $w: ($i / 12) * 100%;

    .large2-#{$i} {
        flex-basis: $w;
    }
}

.blogs {
    margin: 0;
    margin-left: 10%;
    
}

.faqs {
    display: block;
    background-color: rgb(240, 240, 240);
    margin: .2rem .35vw;
}

.faqs p,
h2 {
    margin-bottom: 0rem;
    padding: .2rem 0 .3rem .5rem;
}

.faqs a {
    text-decoration: none;
    color: black;
    padding: 0 1rem;
}

.blogs {
    margin: .5rem .1vw;
    padding: 0;
}

.readMore div {
    margin: 0 !important;
}

div.social {
    margin: 0 24rem;
}

.scooch {
    margin-left: 1.1%;
    margin-bottom: .5rem; 
}