nav{
  overflow: unset;
}

nav li {
  // 
  font-size: 1.3rem;
  padding: .5rem;
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}

nav a{
  padding: 0;
  display:block;
}

nav a:hover {
  transition: ease-in .3s;
  color: white;
}

#mobileTop{
  display: none;
}

header {
  display: flex;
  justify-content: space-between;
}

header h1 {
  font-size: 2rem;
}

#bigSearch{
  display: block;
  justify-content: right;
  margin-top: 2rem;
}

input{
  border-width: 2px;
  padding: 0 0 0 .3rem;
  max-width: 48%;
  font-size: 1.1rem;
  line-height: .9;
  background-color: rgb(246, 248, 249)
}

header h2 {
  font-size: 1rem;
}

body {
  padding-top: .5rem;
}

.lawyer{
  margin: .4rem .5vw;
}

.buttons {
  margin: .4rem 0;
}

.bigButton{ 
  font-size: 1rem;
  padding: 2rem 0rem;
  margin: 2rem 0;
  width: 98%;

}

div.column{
  max-width: 48%;
}

@for $i from 1 through 12 {
  $w: ($i / 12) * 96%;

  .medium-#{$i} {
    flex-basis: $w;
  }
}

@for $i from 1 through 12 {
  $w: ($i / 12) * 100%;

  .medium2-#{$i} {
    flex-basis: $w;
  }
}

.readMore {
  background-color: rgb(121, 121, 121) !important;
  text-align: center;
  padding: 0;
}

.readMore a {
  color: aliceblue;
  padding: .8rem;
}

div.readMore:hover {
  background-color: darken($color: #797979, $amount: 10%) !important;
}

.faqs {
  margin: .5rem .66vw;
}

.blogs {
  margin: .5rem 0;
}

div.social { 
  margin: 0 10rem;
}